<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Method</th>
  </tr>
  <%@tasks.each do |t| %>
  <tr>
    <td><%=t.name%></td>
    <td><%=t.klass%></td>
    <td><%=t.method%></td>
  </tr>
  <% end %>
</table>
