<table class="table table-bordered">
  <tr>
    <th>Task</th>
    <th>Frequency</th>
    <th>Time</th>
    <th>Params</th>
    <th>Last Run</th>
    <th>Success</th>
    <th>Info</th>
  </tr>
  <%@scheduled_tasks.each do |st| %>
  <tr>
    <td><%=st.task.name%></td>
    <td><%=st.frequency%></td>
    <td><%=st.time%></td>
    <td style="font-size:12px;"><%=st.params.to_yaml%></td>
    <td><%=st.last_run.try(:start)%></td>
    <td><%=st.last_run.try(:success)%></td>
    <td><%=st.last_run.try(:info)%></td>
    <td><%=link_to 'Logs',scheduled_task_logs_path(scheduled_task_id:st.id)%></td>
  </tr>
  <% end %>
</table>
