<table class="table table-bordered">
  <tr>
    <th>Task</th>
    <th>Frequency</th>
    <th>Time</th>
    <th>Params</th>
    <th>Start</th>
    <th>End</th>
    <th>Success</th>
    <th>Info</th>
    <th></th>
  </tr>
  <%@scheduled_task_logs.each do |stl| %>
  <tr>
    <td><%=stl.scheduled_task.task.name%></td>
    <td><%=stl.scheduled_task.frequency%></td>
    <td><%=stl.scheduled_task.time%></td>
    <td style="font-size:12px;"><%=stl.scheduled_task.params.to_yaml%></td>
    <td><%=stl.start%></td>
    <td><%=stl.end%></td>
    <td><%=stl.success%></td>
    <td><%=stl.info%></td>
  </tr>
  <% end %>
</table>
